<section class="authentication">
    <div class="container">
        <h1 class="section-title">Welcome to TODO list</h1>
        <form id="recover-password" ng-submit="saveDataForm()" ng-hide="hideForm">

            <label for="recoverEmail"><span>*</span> Email address</label>
            <input type="email" ng-model="formField.email" class="email" name="email" id="recoverEmail" placeholder="Email" required>

            <span class="invalid-message">{{error}}</span>

            <button type="submit" name="recover-pass-btn" ng-disabled="pressed" >Send</button>
            <a href="#/login"  class="btn" >Sign in</a>

        </form>

        <div class="after-action" ng-show="showSuccess">
            <h3>Check your email for recover your password</h3>
            <a href="#/login" class="btn">Come back</a>
        </div>

    </div>
</section>